[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = false
name = "pytorch"

[packages]
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
pandas = "*"
numpy = "*"
tqdm = "*"
webdriver-manager = "*"
newspaper3k = "*"
lxml = {extras = ["html_clean"], version = "*"}
mecab-ko-msvc = "*"
mecab-ko-dic-msvc = "*"
dask = {extras = ["dataframe"], version = "*"}
matplotlib = "*"
gensim = "*"
scipy = "==1.10.1"
pyldavis = "*"
pyro4 = "*"
transformers = "*"
torch = {version = "*", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}
torchaudio = {version = "*", index = "pytorch"}
accelerate = "*"
ipywidgets = "*"
sentence-transformers = "*"
plotly = "*"
nbformat = "*"
ipykernel = "*"
install = "*"
statsmodels = "*"
kaleido = "==0.1.0post1"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
